@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/fonts/Pretendard-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.box1 {
  height: 100vh;
  background-color: #ffffff;
}

.box2 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box3 {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.backend,
.frontend,
.tools {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skillItem {
  display: flex;
  justify-content: center;
  position: relative;
  width: 12vw;
  height: 6vh;
}

.skillItem img {
  width: 12vw;
  height: 7vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillBox {
  border-radius: 5px;
  width: 17vw;
  height: 52vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1vw;
  margin: 2vw;
  background-color: #F7F7F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project {
  display: flex;
  flex-direction: row;
  margin: 3vw;
}

.project>div {
  width: 20vw;
  height: 55vh;
  background-color: #EEEEEE;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 3vw;
  border-radius: 5px;
}

.fontBox {
  width: 100%;
  margin-top: 10px;
  margin-left: 2vw;
  align-items: center;
  display: flex;
}

.project div h2 {
  font-size: 1.5em;
  /* h2의 글꼴 크기를 조정합니다. */
}

.project div h3 {
  font-size: 1.1em;
  margin: 13px;
}

.project img {
  width: 18vw;
  height: 23vh;
  border-radius: 5px;
  margin-top: 3vh;
}

.fontContent {
  width: 18vw;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.fontContent p {
  text-align: left;
}

.fontContent h4 {
  font-size: 1.1em;
  text-align: left;
}

.projectContent {
  margin-top: 20vh;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7vw;
}

.contentImage {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
}

.contentImage img {
  width: 25vw;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentImage div {
  width: 25vw;
  height: auto;
  margin-top: 3vh;
}

.contentImage h4 {
  margin-bottom: 5px;
  background-color: #DDDDDD;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
}

.contentImage div p {
  padding-bottom: 10px;
}

.contentBox {
  width: 30vw;
  height: 60vh;
}

.contentBox {
  div {
    padding: 2vh;
    color: #333;
  }
}

.contentBox h4 {
  background-color: #DDDDDD;
  padding: 5px 10px;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 5px;
}

.fontContent h4 {
  background-color: #DDDDDD;
  padding: 5px 10px;
  margin-bottom: 5px;
  display: inline-block;
  border-radius: 5px;
}

.stackBox {
  height: 10vw;
  margin-top: 3vh;
  text-align: left;
  width: 18vw;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.aboutBox {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
}

.aboutBoxTwo {
  width: 100vw;
  height: 40vh;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.aboutBoxTwo p {
  padding: 1.5vh;
  font-size: 1.3rem;
  color: #333333;
  text-align: center;
  font-family: 'Pretendard-Light';
}

.aboutBoxTwo a {
  padding: 1.5vh;
  font-size: 1.3rem;
  text-align: center;
  color: #333333;
  font-family: 'Pretendard-Light';
}

.aboutBox img {
  width: 13vw;
  height: 30vh;
  margin-left: 25vw;
}

.fontBox {
  margin: 2vw;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.fontBoxTwo p {
  margin-top: 1vw;
  font-size: 1.1rem;
  font-family: 'Pretendard-ExtraLight';
  color: #777777;
}

.fontBox div p {
  margin-top: 1vw;
  font-size: 1.1rem;
  font-family: 'Pretendard-ExtraLight';
}

.fontBox p,
.fontBox h1 {
  margin-bottom: 2vh;
}

.stackBox {
  width: 20vw;
  height: 5vh;
}

.stackBoxTwo {
  height: 2vh;
  align-items: center;
  width: 17vw;
  display: flex;
  padding: 1vw;
  margin: 2vw;
  justify-content: space-around;
}

.stackBoxThree {
  height: 2vh;
  align-items: center;
  width: 17vw;
  display: flex;
  padding: 1vw;
  margin: 2vw;
  justify-content: space-around;
}

.stackBoxTwo p {
  width: 10vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background-color: #0433ff;
  color: white;
  font-family: 'Pretendard-ExtraLight';
  padding: 0 10px;
  font-weight: bold;
}

.stackBoxThree p {
  width: 10vw;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
  background-color: #777777;
  color: white;
  font-family: 'Pretendard-ExtraLight';
  padding: 0 10px;
  font-weight: bold;
}

.stackBox p {
  display: inline-block;
  width: auto;
  height: auto;
  border-radius: 30px;
  background-color: #0433ff;
  color: white;
  font-family: 'Pretendard-ExtraLight';
  padding: 0 10px;
}

.fontBox h1 {
  font-size: 3rem;
  font-family: 'Pretendard-Bold';
}

.fontBox p {
  font-size: 2rem;
  font-family: 'Pretendard-Light';
}

/* 작은 화면을 위한 스타일 */
// @media only screen and (max-width: 400px) {
//   /* 폰트 크기 조정 */
//   .fontBox h1 {
//     font-size: 2.5rem;
//   }

//   .fontBox p {
//     font-size: 1.5rem;
//   }

//   /* 박스의 너비 조정 */
//   .contentBox,
//   .project>div {
//     width: 90vw;
//   }

//   /* 이미지 크기 조정 */
//   .project img {
//     width: 80%;
//     height: auto;
//   }

//   /* 텍스트 정렬 및 여백 조정 */
//   .contentBox div,
//   .fontContent div {
//     padding: 1vh;
//   }

//   .contentImage div h4 {
//     margin-bottom: 3px;
//   }

//   .contentImage div p {
//     padding-bottom: 5px;
//   }

//   /* 기타 스타일 조정 */
//   .stackBox {
//     width: 70vw;
//   }

//   .stackBoxTwo p,
//   .stackBoxThree p {
//     width: 100vw;
//     font-size: 0.6rem;
//   }
// }
