@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/fonts/Pretendard-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.box1 {
  height: 100vh;
  background-color: #ffffff;
}

.box2 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box3 {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 3vw;
  // width: 100vw;
}

.projectContent {
  margin-top: 20vh;
  width: 80vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7vw;
}

.contentImage {
  width: 40vw;
  height: 60vh;
  display: flex;
}

.contentImage img {
  width:35vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.contentBox {
  width: 38vw;
  height: 68vh;
}

.contentImage div {
  width: 25vw;
  height: auto;
  margin-top: 2vh;
}

.contentBox h4 {
  font-family: 'Pretendard-Bold';
  margin-bottom: 1vh;
  background-color: #F7F7F7; 
  font-weight: bold;
  font-size: 1rem;
  // background-color: #DDDDDD;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 1.5vh;

}

.contentBox {
  div {
    padding: 1vh;
    color: #333;
  }
  p {
    margin-bottom: 1vh; /* 원하는 만큼의 간격을 설정하세요 */
    text-align: justify;
    line-height: 1.5; /* 줄간격 조정 */
    margin-left: 1vh;
    font-family: 'Pretendard-Light';
  };
}

.link{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none; /* 링크의 기본 테두리 제거 */
  img {
    width: 2vw;
    height: 4vh;

   }
   a{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 20px; /* 링크들 간의 간격 조절 */
}
}
.line {
  flex: 0 0 auto;
  height :10vh; /* 선의 높이를 10px로 설정 */
  border-left: 1px solid #ddd; 
  margin: 0 15px;
  
}


.link > div {

 h5 {
  margin-right: 2vh; /* 텍스트 아래 여백 추가 */
  text-align: center;
 margin-bottom: 2vh; 
}}






/* 슬라이더 컨테이너 스타일 */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* 슬라이드 아이템 스타일 */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* 이미지 스타일 */
.slick-slide img {
  width: 100%;
  height: auto;
}

/* 슬라이더 화살표 스타일 */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 1;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

/* 점 스타일 */
.slick-dots {
  position: absolute;
  bottom: 10px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color:  black;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  background-color: #ccc;
}
