@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Light';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/fonts/Pretendard-ExtraLight.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.box1 {
  height: 100vh;
  background-color: #ffffff;
}

.box2 {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box3 {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box4 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 3vw;
}

.projectContent {
  margin-top: 20vh;
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7vw;
}

.contentImage {
  width: 40vw;
  height: 60vh;
  display: flex;
}

.contentImage img {
  width:38vw;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.contentBox {
  width: 25vw;
  height: 60vh;
}

.contentImage div {
  width: 25vw;
  height: auto;
  margin-top: 3vh;
}

.contentBox h4 {
  margin-bottom: 2vh;
  background-color: #F7F7F7; 
  font-weight: bold;
  font-size: 1.2rem;
  // background-color: #DDDDDD;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 1vh;
}

.contentBox {
  div {
    padding: 1vh;
    color: #333;
  }
  p {
    margin-bottom: 1vh; /* 원하는 만큼의 간격을 설정하세요 */
    line-height: 1.5; /* 줄간격 조정 */
    
  };
}
