@font-face {
  font-family: 'Pretendard-Light';
  src: url('/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.topbar {
  width: 100vw;
  height: 5vh;
  opacity: 0/5;
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  max-width: 100%;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.div1 {
  width: 20vw;
  height: 5vh;
  margin-left: 10px;
}

.div2 {
  width: 20vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #638889;
  cursor: pointer;
  font-family: 'Pretendard-Light', sans-serif; 

  a {
    color: #141415;
    text-decoration-line: none;
    margin-left: 5vw;
    font-size: 1.3rem;
    font-family: 'Pretendard-Light', sans-serif; 
  }
}

.div3 {
  width: 40vw;
  height: 5vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Acme', sans-serif;

  p {
    width: 16vw;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Pretendard-Light', sans-serif; 
  }

  a,
  button {
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141415;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
  }
}

.link {
  text-align: center;
  text-decoration: none;
  color: white;
  margin-left: 2vw;
}